[data-theme="dark"] {
  // Color variants
  @each $name,
  $color in $theme-colors-dark {
    @include cards-variant($name, $color);
  }

  @each $name,
  $color in $colors-dark {
    @include cards-variant($name, $color);
  }

  .card {
    //.card {
    background-color: mix(#fff, $gray-900-dark, 5%);

    //}
    .nav.flex-column>li {
      border-bottom-color: $gray-600-dark;
    }

    .card-footer {
      background-color: rgba($black-dark, .1);
    }

    &.card-outline-tabs .card-header a:hover {
      border-color: $gray-600-dark;
      border-bottom-color: transparent;
    }

    &:not(.card-outline)>.card-header a.active {
      color: $white-dark;
    }
  }
}
  .card-comments {
    background-color: mix(#fff, $gray-900-dark, 1.25%);

    .username {
      color: $gray-400-dark;
    }

    .card-comment {
      border-bottom-color: mix(#fff, $gray-900-dark, 7.5%);
    }
  }

  .todo-list>li {
    color: $white-dark;
    background-color: mix(#fff, $gray-900-dark, 5%);
    border-color: mix(#fff, $gray-900-dark, 7.5%);
  }

  .todo-list {

    @each $name,
    $color in $theme-colors-dark {
      .#{$name} {
        border-left-color: $color;
      }
    }

    @each $name,
    $color in $colors-dark {
      .#{$name} {
        border-left-color: $color;
      }
    }
  }
