.sidebar-content {
  padding-top: $lte-sidebar-padding-y;
  padding-right: $lte-sidebar-padding-x;
  padding-bottom: $lte-sidebar-padding-y;
  padding-left: $lte-sidebar-padding-x;
  overflow-x: hidden;
  overflow-y: auto;
  @include scrollbar-color-gray();
  @include scrollbar-width-thin();
}

.sidebar-cta-content {
  background: $lte-sidebar-dark-hover-bg;
  border-radius: .3rem;
  color: $lte-sidebar-dark-color;
  margin: $lte-sidebar-padding-y;
  padding: $lte-sidebar-padding-y;
}