/*
*  TODO: Not sure how this works with the new bootstrap theme's
*  this is not working
*/
$body-bg-dark: #0045bc;

[data-theme="dark"] {
    $white-alt: #fafafa !default;
    $gray-100-alt: #e1e1e1 !default; //~~
    $gray-200-alt: #cfcfcf !default; //~~
    $gray-300-alt: #b1b1b1 !default; //~~
    $gray-400-alt: #9e9e9e !default; //~~
    $gray-500-alt: #7e7e7e !default; //~~
    $gray-600-alt: #626262 !default; //~~
    $gray-700-alt: #515151 !default; //~~
    $gray-800-alt: #3b3b3b !default; //~~
    $gray-900-alt: #222 !default; //~~
    $black-alt: #111 !default; //~~

    // fusv-disable
    $grays-alt: ("100": $gray-100-alt,
        "200": $gray-200-alt,
        "300": $gray-300-alt,
        "400": $gray-400-alt,
        "500": $gray-500-alt,
        "600": $gray-600-alt,
        "700": $gray-700-alt,
        "800": $gray-800-alt,
        "900": $gray-900-alt ) !default;
    // fusv-enable

    $blue-alt: #375a7f !default;
    $indigo-alt: #673ab7 !default; //~~
    $purple-alt: #654ea3 !default; // Panatone CotY 2018
    $pink-alt: #e83e8c !default;
    $red-alt: #e74c3c !default; //**
    $orange-alt: #fd7e14 !default;
    $yellow-alt: #f39c12 !default; //**
    $green-alt: #00bc8c !default; //**
    $teal-alt: #45b5aa !default; // Panatone CotY 2010
    $cyan-alt: #17a2b8 !default;

    $colors-alt: ("blue": $blue-alt,
        "indigo": $indigo-alt,
        "purple": $purple-alt,
        "pink": $pink-alt,
        "red": $red-alt,
        "orange": $orange-alt,
        "yellow": $yellow-alt,
        "green": $green-alt,
        "teal": $teal-alt,
        "cyan": $cyan-alt,
        "white": $white-alt,
        "black": $black-alt,
        "gray": #7e7e7e, // $gray-600,
        "gray-dark": #121212 //$gray-800
    ) !default;

    $primary-alt: $blue-alt  !default;
    $secondary-alt: $gray-600-alt  !default;
    $success-alt: $green-alt  !default;
    $info-alt: $cyan-alt  !default;
    $warning-alt: $yellow-alt  !default;
    $danger-alt: $red-alt  !default;
    $light-alt: $gray-400-alt  !default;
    $dark-alt: $gray-800-alt  !default;

    $theme-colors-alt: ("primary": $primary-alt,
        "secondary": $secondary-alt,
        "success": $success-alt,
        "info": $info-alt,
        "warning": $warning-alt,
        "danger": $danger-alt,
        "light": $light-alt,
        "dark": $dark-alt ) !default;

    $theme-colors-rgb-alt: map-loop($theme-colors-alt, to-rgb, "$value") !default;

    :root {

        // Sidebar active links
        --lte-sidebar-menu-active-bg: #{$primary-alt};
        --lte-sidebar-menu-active-color: #{$white-alt};

        // Dark Sidebar Native Variables
        --lte-sidebar-dark-bg: #{$dark-alt};

        // Light Sidebar Native Variables
        --lte-sidebar-light-bg: #{$white-alt};
    }

    // MAIN FOOTER
    // --------------------------------------------------------
    $lte-main-footer-bg-alt: $dark-alt  !default;

    // Body background (Affects main content background only)
    $lte-main-bg-alt: $gray-900-alt  !default;
    $lte-main-color-alt: $white-alt  !default;
}